header{
    background-color: rgb(208, 205, 205);
}
.img2{
    width: 473px;
    height: 376px;
}
.img3{
    width: 473px;
    height: 376px;
}
.img4{
    width: 473px;
    height: 376px;
}
.img5{
    width: 473px;
    height: 376px;
}
.img6{
    width: 473px;
    height: 376px;
}
.img7{
    width: 473px;
    height: 376px;
}
.img8{
    width: 473px;
    height: 376px;
}
.img9{
    width: 473px;
    height: 376px;
}
.dog-photo{
    width: 600px;
    height: 400px;
}
.header1stphoto{
    display: flex;
    width: 600px;
    height: 40px;
}
.header1stphoto p{
    margin-left: 300px;
}
.text1st{
    width: 600px;
    height: 100px;
}
.header2ndphoto p{
    margin-left: 270px;
}
.header2ndphoto{
    width: 600px;
    height: 40px;
}
.photo2nd img{
    width: 600px;
    height: 400px;
}
.text2nd{
    width: 600px;
    height: 100px;
}
.header3rdphoto p{
    margin-left: 350px;
}
.header3rdphoto{
    width: 600px;
    height: 40px;
}
.photo3rd img{
    width: 600px;
    height: 400px;
}
.text3rd{
    width: 600px;
    height: 100px;
}